* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.menuNavegacao {
  z-index: 1;
  position: fixed;
  height: 7vh;
  width: 100vw;
  background-color: #5a5a5a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(255, 243, 177);
  gap: 30px;
}
.menuNavegacao a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease-in-out;
}
.menuNavegacao a:hover {
  color: rgb(255, 227, 68);
}

.conteudoPrincipal {
  padding-top: 7vh;
  min-height: 100vh;
}

.componenteTech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #5a5a5a;
  margin: 25px 10px;
  box-shadow: 0px 0px 30px 5px rgb(255, 243, 177);
  border-radius: 15px;
}
.componenteTech h1 {
  margin-top: 5px;
}

.fotoDescricao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fotoDescricao img {
  max-width: 200px;
  margin-right: 20px;
}

.css {
  flex-direction: row-reverse;
}
.logicaProgramacao {
  flex-direction: row-reverse;
}

.linkContainer {
  margin-bottom: 20px;
  width: 25vw;
  padding: 10px 0px;
  background-color: #5a5a5a;
  text-decoration: none;
  color: rgb(255, 227, 68);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
}
.linkContainer:hover {
  scale: 1.1;
  background-color: rgb(255, 227, 68);
  color: #fff;
}
.rodaPe {
  min-height: 20vh;
  background-color: #5a5a5a;
  color: #fff;
}
